Repository serdar1234/movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

.lintstagedrc.json:

{
  "*.css": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint . --fix",
    "prettier --write \"src/**/*.{js,jsx,css,md}\""
  ]
}

test
  .lintstagedrc.json
  package.json
  src/App.jsx
  src/assets/vite.svg
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

husky is working
  package.json
  src/App.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

working with cards
  .eslintrc.cjs
  package-lock.json
  package.json
  public/asd.png
  src/App.css
  src/App.jsx
  src/assets/asd.png
  src/components/Heading.jsx
  src/components/Pagination.jsx
  src/index.css
  src/main.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

expriments with breakpoints
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

cards added
  src/App.jsx
  src/components/123.html
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/MovieCard/index.js
  vite.config.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

added Inter font from google
  index.html
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

added request MovieFetcher
  README.md
  src/components/MovieCard/MovieCard.jsx
  src/services/MovieFetcher.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

iteractive info added
  src/App.jsx
  src/components/MovieCard/MovieCard.jsx
  src/services/MovieFetcher.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

strings are truncated
  package-lock.json
  package.json
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

added check for empty return string
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

working copy
  public/asd.jpg
  public/asd.png
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

movie card refactored
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

image loading spin added
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

error message added
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

Lint-staged configs updated
  package.json
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

minor tweaks
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

UI tweaks with col span and offset
  src/App.jsx
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

check for online/offline added
  src/App.jsx
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/services/MovieFetcher.js
  src/services/OnlineStatus.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

check
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

safari bug
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/services/truncateString.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

added grids
  public/asd.jpg
  src/components/123.html
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

tests
  src/components/MovieCard/MovieCard.css
Due: prettier --write

rating added
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

bug 2 images fixed
  babel.config.json
  package-lock.json
  package.json
  src/components/MovieCard/MovieCard.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

UI tabs search and pagination added
  src/App.jsx
  src/components/Heading.jsx
  src/components/HeadingBlock/HeadingBlock.jsx
  src/components/HeadingBlock/index.js
  src/components/Pagination.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
  src/components/PaginationBlock/index.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

search is working
  package-lock.json
  package.json
  src/App.jsx
  src/components/HeadingBlock/HeadingBlock.jsx
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
  src/services/MovieFetcher.js
  src/services/truncateString.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

pagination is sort of working
  README.md
  src/App.jsx
  src/components/MovieCard/MovieCard.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

CSS changes
  src/App.jsx
  src/components/HeadingBlock/HeadingBlock.css
  src/components/HeadingBlock/HeadingBlock.jsx
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

search and pagination are working
  src/App.jsx
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

created Movie Image component
  src/components/MovieCard/MovieCard.jsx
  src/components/MovieImage/MovieImage.css
  src/components/MovieImage/MovieImage.jsx
  src/components/MovieImage/index.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

destructuring fixed
  src/components/MovieImage/MovieImage.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

changed online checks
  .eslintrc.cjs
  public/asd.jpg
  src/App.jsx
  src/components/HeadingBlock/index.js
  src/components/MainBlock/MainBlock.css
  src/components/MainBlock/MainBlock.jsx
  src/components/MainBlock/index.js
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/services/OnlineStatus.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

pre-transformation of tabs
  src/App.jsx
  src/components/MainBlock/MainBlock.jsx
  src/components/MovieCard/MovieCard.jsx
  src/services/OnlineStatus.jsx
  src/services/test.txt
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

redesign
  src/App.jsx
  src/components/MainBlock/MainBlock.jsx
  src/components/MainBlock/index.js
  src/components/SearchTab/SearchTab.css
  src/components/SearchTab/SearchTab.jsx
  src/components/SearchTab/index.js
  src/components/TabsBlock/TabsBlock.css
  src/components/TabsBlock/TabsBlock.jsx
  src/components/TabsBlock/index.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

moved pagination, fixed styles
  src/App.jsx
  src/components/PaginationBlock/PaginationBlock.css
  src/components/PaginationBlock/PaginationBlock.jsx
  src/components/SearchTab/SearchTab.css
  src/components/SearchTab/SearchTab.jsx
  src/components/TabsBlock/TabsBlock.jsx
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

ratings and colors are done
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/PaginationBlock/PaginationBlock.css
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

trying to create a guest session
  src/App.jsx
  src/components/MovieCard/MovieCard.jsx
  src/services/MovieFetcher.js
  src/services/dataFetcher.js
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

test guest session
  src/services/dataFetcher.js
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

genres added, guest session is working
  src/App.jsx
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/MovieTags/MovieTags.css
  src/components/MovieTags/MovieTags.jsx
  src/components/MovieTags/index.js
  src/components/SearchTab/SearchTab.jsx
  src/services/GenresContext.jsx
  src/services/dataFetcher.js
  src/services/fetchOptions.js
  src/services/setGuestSession.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

search tab is working
  src/components/MovieCard/MovieCard.jsx
  src/components/MoviesList/MoviesList.css
  src/components/MoviesList/MoviesList.jsx
  src/components/MoviesList/index.js
  src/components/PaginationBlock/PaginationBlock.jsx
  src/components/RatedTab/RatedTab.css
  src/components/RatedTab/RatedTab.jsx
  src/components/RatedTab/index.js
  src/components/RatingStars/RatingStars.css
  src/components/RatingStars/RatingStars.jsx
  src/components/RatingStars/index.js
  src/components/SearchTab/SearchTab.jsx
  src/components/TabsBlock/TabsBlock.css
  src/components/TabsBlock/TabsBlock.jsx
  src/services/dataFetcher.js
  src/services/postRating.js
  src/services/setGuestSession.js
  src/services/test.txt
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"
