Repository serdar1234/movies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

rated movies list is ready
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.jsx
  src/components/MovieTags/MovieTags.jsx
  src/components/MoviesList/MoviesList.jsx
  src/components/PaginationBlock/PaginationBlock.jsx
  src/components/RatedTab/RatedTab.css
  src/components/RatedTab/RatedTab.jsx
  src/components/RatingStars/RatingStars.jsx
  src/components/SearchTab/SearchTab.jsx
  src/components/TabsBlock/TabsBlock.jsx
  src/services/GenresContext.jsx
  src/services/dataFetcher.js
  src/services/postRating.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

fixed rated tab
  src/components/MovieList/MovieList.css
  src/components/MovieList/MovieList.jsx
  src/components/MovieList/index.js
  src/components/MoviesList/index.js
  src/components/RatedTab/RatedTab.jsx
  src/components/RatingStars/RatingStars.jsx
  src/components/SearchTab/SearchTab.jsx
  src/components/TabsBlock/TabsBlock.jsx
  src/services/dataFetcher.js
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

DataFetcher renamed
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

imports checked
  src/services/GenresContext.jsx
  src/services/dataFetcher.js
  src/services/postRating.js
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

changed async functions in setGuestSession.js
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

imports revised
  src/components/MovieList/MovieList.jsx
  src/components/RatedTab/RatedTab.jsx
  src/services/FetchData.js
  src/services/GenresContext.jsx
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

all is OK, need to check for logs
  src/App.jsx
  src/components/MovieList/MovieList.jsx
  src/components/RatedTab/RatedTab.jsx
  src/components/RatingStars/RatingStars.jsx
  src/components/TabsBlock/TabsBlock.jsx
  src/services/FetchData.js
  src/services/SetSession.jsx
  src/services/postRating.js
  src/services/setGuestSession.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

ready
  public/placeholder.jpg
  src/assets/asd.png
  src/components/MovieCard/MovieCard.css
  src/components/MovieImage/MovieImage.jsx
  src/components/MovieList/MovieList.css
  src/components/PaginationBlock/PaginationBlock.css
  src/components/PaginationBlock/PaginationBlock.jsx
  src/components/RatedTab/RatedTab.jsx
  src/components/TabsBlock/TabsBlock.jsx
  src/services/GenresContext.jsx
  src/services/postRating.js
  src/services/test.txt
Due: prettier --write, eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

readme changed
  README.md
Due: none

fixed no-rated-movies bug
  src/components/RatedTab/RatedTab.jsx
  src/services/FetchData.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

changed http to https in movie fetching url
  src/components/MovieImage/MovieImage.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

changed genres array of objects to Map
  src/components/MovieTags/MovieTags.jsx
  src/services/GenresContext.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

useCallback made use of in genre fetching
  src/services/GenresContext.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

memoized genres context value with useMemo()
  src/components/MovieTags/MovieTags.jsx
  src/services/GenresContext.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

tests added
  .eslintrc.cjs
  __mocks__/fileMock.js
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  src/components/TabsBlock/TabsBlock.test.jsx
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

settings added to tests
  jest-dom.d.ts
  jest.config.js
  jsconfig.json
  package-lock.json
  package.json
  src/components/TabsBlock/TabsBlock.test.jsx
  src/services/GenresContext.jsx
  src/setupTests.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

sb added
  .eslintrc.cjs
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  .storybook/vitest.setup.js
  package-lock.json
  package.json
  src/components/MovieImage/MovieImage.stories.jsx
  vite.config.js
Due: eslint . --fix, prettier --write "src/**/*.{js,jsx,css,md}"

Path conditions:
  prettier --write: any of: *.css
  eslint . --fix: any of: *.{js,jsx}
  prettier --write "src/**/*.{js,jsx,css,md}": any of: *.{js,jsx}
